# Gemini API Key for Vision-to-Code
GEMINI_API_KEY=AIzaSyB_KLhMEdU4ul4fH2IaHzmPyuLSujOMqK8

# MongoDB Connection String
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/flowboard?retryWrites=true&w=majority

# Optional: Deployment environment
GITHUB_CLIENT_ID=Ov23li1iMolrcpXGBYG7
NEXT_PUBLIC_GITHUB_CLIENT_ID=Ov23li1iMolrcpXGBYG7
GITHUB_CLIENT_SECRET=7d5bbdc08bd5047cc64f303ce551c177e9c2a850
VERCEL_API_TOKEN=cnqHUZSqqPkwDDMJNgq7TrtC
